@model WebAppForWebshop.Models.ApplicationUser

<div>
    @if (Model != null)
    {
        @if (Model.userList != null)
        {
            <table>
                <tr><th>Username</th><th>UserId</th><th>Click</th></tr>
                @foreach (var user in Model.userList)
                {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Id</td>
                <td>@Html.ActionLink("MANAGE", "ManageUser", "Home", new {id = user.Id }, new { @class = "btn btn-primary" })</td>
            </tr>
            
        }
                </table>
            }
    }
    </div>
